<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Posts API Tests">
        <classes>
            <class name="com.gsl.tests.PostsApiTests"/>
        </classes>
    </test>
</suite>